<template>
  <nav class="cast-nav">
      <span class="cast-home-stats"> Stats: 2,890,890 </span
      ><span class="cast-home-stats">Topics: 6,452,258 </span
      ><span class="cast-home-stats">Date: 6th June, 2022 </span
      ><span class="cast-home-stats">Time: 11:30am</span>
    </nav>
</template>

<script>
export default {

}
</script>

<style>

</style>