<template>
  <div class="add-comment">
    <input type="text" class="cast-input" placeholder="Add comment" />
    <button type="submit">
      <span class="material-icons"> send </span>
    </button>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
