<template>
  <div class="display-comment">
    <h5 class="comment-header">Comments</h5>
    <SingleComment />
  </div>
</template>

<script>
import SingleComment from "~/components/CommentComponent/SingleComment.vue";

export default {
  components: {SingleComment}
};
</script>

<style></style>
