<template>
  <div class="single-comment">
    <p class="commenter"><a href="">wicast345</a></p>
    <p class="comment-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ab
      corporis minima quis quibusdam nihil, repudiandae quam perspiciatis non
      autem fugiat architecto animi! Natus commodi modi animi ut, expedita quis?
    </p>
    <div class="comments-reaction-icons">
      <div class="comment-likes-counts">
        <button class="btn-reactions">
          <span class="material-icons show-likes-color"> favorite </span>
        </button>
        <span>1k</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
