<template>
  <div class="login-container">
    <button @click="closeLoginForm">Close</button>
    <form
      action=""
      class="login-form cast-form"
      id="login-form"
      @submit.prevent="loginUser"
    >
      <h2 class="cast-login-title">Login</h2>
      <div class="cast-group">
        <input
          type="text"
          class="cast-input"
          placeholder="Username"
          v-model="loginData.usernmae"
        />
      </div>
      <div class="cast-group">
        <input
          type="password"
          class="cast-input"
          placeholder="Password"
          v-model="loginData.password"
        />
      </div>
      <div class="cast-group">
        <input type="submit" class="cast-input" />
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    closeLoginForm() {
      return this.$store.dispatch("setLoginForm", false);
    },
    loginUser() {
      // CHECK ALL FIELDS
      // SEND
    },
  },
};
</script>

<style></style>
